name: Check

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --immutable

      - run: yarn types:check

      - run: yarn test

      - run: yarn lint

      - run: yarn prettier:check

      - run: yarn build
